<div id="root"></div>
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<script type="text/babel">
    const rootElemnt = document.getElementById('root');
    const divText = 'Hello World';
    const element =
            <div className='container'> {divText} </div>;
    const props = {
        className: 'container',
        children: 'First paragraf'
    };
    const nextElement = <div {...props}/>;
    const props2 = {
        className: 'container',
        children: 'Some paragraf'
    };
    const newElement2 = <div children="Before props is default" {...props2} />;
    const props3 = {
        className: 'container',
        children: 'Some paragraf'
    };
    const newElement3 = <div {...props3} children="After is overwritten"/>;

    ReactDOM.render([element, nextElement, newElement2, newElement3], rootElemnt);
</script>